In [21]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np
import pickle

In [ ]:
# loading model
model=load_model('model.h5')

# loading encoder
with open('label_encoder_gender.pkl','rb') as file: # rb : read bite mode
    label_encoder_gender=pickle.load(file)

# loading onehotwncoder
with open('onehot_encoder_geo.plk','rb') as file:
    onehot_encoder_geo=pickle.load(file)
#scaler loading
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [23]:
# exmaple input Data
input_data={
'CreditScore':600,
'Geography':'France',
'Gender':'Male',
'Age': 40,
'Tenure': 3,
'Balance': 60000,
'NumOfProducts':2,
'HasCrCard': 1,
'IsActiveMember':1,
'EstimatedSalary':50000
}

In [24]:
geo_encoded=onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

e:\Gen AI Course\DL for NLP (Prerequisites)\annclassification\Annclassification_practice\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [25]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [26]:
input_data=pd.DataFrame([input_data])
input_data

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [27]:
# encoding the cetegorical gender variable

input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])

In [28]:
# combining the input data with geo_encoded_df
input_data=pd.concat([input_data.drop('Geography',axis=1),geo_encoded_df],axis=1)
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [29]:
# scaling the data
input_scaled=scaler.transform(input_data)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [30]:
# prediction
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 60ms/step

array([[0.06296068]], dtype=float32)

In [32]:
# prediction probability
Prediction_prob=prediction[0][0]
Prediction_prob

0.06296068

In [33]:
if Prediction_prob > 0.5:
    print('The customer is likey to churn')
else:
    print('This customer is not likey to churn')

This customer is not likey to churn